<?xml version="1.0" ?>
  <model>
    <name>human</name>
    <version>1.0</version>
    <sdf version='1.6'>urdf/human.urdf</sdf>


    <author>
      <name>Krishna Kumar</name>
      <email>krishna.kumar@gatech.edu</email>
    </author>
    <description>
      Human robot collaboration for task completion
    </description>
  </model>
